<div style="font-family:serif ;" class=" footer bg-primary">
    <div class="container">
        <div class="about d-flex justify-content-space-between">
            <div class="link">
                <ul class="d-flex justify-content-space-between align-items-center">
                    <a href="../pages/index.html"><li class="white">首頁</li></a>
                    <a href="../pages/style-op.html"><li class="white">系列鏡框</li></a>
                    <a href="../pages/branch.html"><li class="white">門市據點</li></a>
                    <a href="../pages/blog.html"><li class="white">部落格</li></a>
                    <a href="../pages/question.html"><li class="white">常見問題</li></a>
                </ul>
            </div>
            <div class="icon d-flex justify-content-space-between">
                <a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook"></a>
                <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ins"></a>
                <a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a>
            </div>
        </div>
        <div class="tel d-flex fs-36 align-items-center white justify-content-space-between">
            <div class="tel-num d-flex">
                <span class="material-symbols-outlined fs-36">call</span>
                <p><a href="tel:+886-800000000">0800-000-000</a></p>
            </div>
            <div class="icon d-flex justify-content-space-between">
                <a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook"></a>
                <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ins"></a>
                <a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a>
            </div>
        </div>
        <div class="mail d-flex fs-36 align-items-center white">
            <span class="material-symbols-outlined fs-36">mail</span>
            <p><a href="mailto:glasses@business.com">glasses@business.com</a></p>
        </div>
            <div class="sm d-flex justify-content-space-between">
                <p class="white ">Copyright © 2020 Glasses.All rights reserved.</p>
                <div class="sm-l d-flex">
                    <a href="#"><p class="white fs-14">隱私權政策</p></a>
                    <a href="#"><p class="white fs-14">服務條款</p></a>
                </div>
            </div>
    </div>
</div>