<div class="nav bg-primary ">
    <div  class="container d-flex justify-content-space-between align-items-start ">
        <a class="align-self-center" href="../pages/index.html"><img class="a" src="../assets/images/logo-white.png" alt="loglo"></a>
        <ul  class="d-flex align-self-center fs-20 justify-content-space-between ">
            <a class="white" href="./style-op.html"><li class="l">系列鏡框</li></a>
            <a class="white" href="./branch.html"><li>門市據點</li></a>
            <a class="white" href="./blog.html"><li>部落格</li></a>
            <a class="white" href="./question.html"><li>常見問題</li></a>
        </ul>
    </div>
</div>
<div class="md-nav bg-primary">
    <ul  class="d-flex align-self-center fs-20 justify-content-space-between ">
        <a class="white" href="./style-op.html"><li>系列鏡框</li></a>
        <a class="white" href="./branch.html"><li>門市據點</li></a>
        <a class="white" href="./blog.html"><li>部落格</li></a>
        <a class="white" href="./question.html"><li>常見問題</li></a>
    </ul>
</div>