.address{
    .branch-card{
        width: calc((100% - 24px) / 2);
        margin-right: 24px;
        @include lg(){
            h2,ul{
                display: none;
            }
        }
        @include md(){
            h2,ul{
                display: block;
            }
            width: 100%;
            margin: 0;
        }
    }
    .address-map{
        width: calc((100% - 24px ) / 2);
        @include lg(){
            display: none;
        }
    }
    iframe{
        height: 100%;
        width: 100%;
    }
    .address-lg{
        display: none;
        @include lg(){
            width: calc((100% - 24px ) / 2);
            display: block;
        }
        @include md(){
            display: none;
        }
        h2{
            border: 1px solid #00000020;
            line-height: 36px;
            padding: 8px 24px;
        }
        ul{
            span{
                margin-right:12px ;
            }
            border: 1px solid #00000020;
            line-height: 30px;
            padding: 16px 24px;
        }
    }

}
.address-map-lg{
    margin-top:26px ;
    display: none;
    height: 414px;
    @include lg(){
        display: block;
    }
    @include md(){
        height: 208px;
    }
    iframe{
        height: 100%;
        width: 100%;
    }
}