<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/google-font'); -%>
    <title>眼鏡官網</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="blog-nav bg-secondary">
        <div class="container d-flex align-items-center justify-content-space-between">
            <ul class="d-flex white fs-20">
                <li><a href="#">最新消息</a></li>
                <li><a href="#">特別企劃</a></li>
                <li><a href="#">新品上市</a></li>
                <li><a href="#">鏡框小知識</a></li>
            </ul>
            <a href="#"><span class="white material-symbols-outlined">search</span></a>
        </div>
    </div>
    <div class="blog">
        <div class="container d-flex flex-direction-column align-items-center">
            <h1 class="fs-48 ">部落格</h1>
            <div class="story">
                <div class="story-card d-flex ">
                    <div class="story-pic">
                        <img src="../assets/images/blog-1.png" alt="情人特別企劃">
                    </div>
                    <div class="story-txt d-flex flex-direction-column justify-content-space-between">
                        <div class="story-top">
                            <h2 class="secondary fs-32"><a href="./special.html">情人特別企劃</a></h2>
                            <div class="date d-flex justify-content-space-between">
                                <p class="fs-20"><a href="./special.html">2020 Valentine’s Special</a></p>
                                <p><a href="./special.html">2020/02/14</p></a>
                            </div>
                            <p class="fs-20"><a href="./special.html">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯</a></p>
                        </div>
                        <div class="story-botton text-align-right secondary fs-36">
                            <p><a href="./special.html">MORE</a></p>
                        </div>
                    </div>
                </div>
                <div class="story-card d-flex">
                    <div class="story-pic">
                        <img src="../assets/images/blog-2.png" alt="街頭潮人訪問">
                    </div>
                    <div class="story-txt d-flex flex-direction-column justify-content-space-between">
                        <div class="story-top">
                            <h2 class="secondary fs-32"><a href="#">街頭潮人訪問</a></h2>
                            <div class="date d-flex justify-content-space-between">
                                <p class="fs-20"><a href="#">Street Interview</a></p>
                                <p><a href="#">2020/02/02</a></p>
                            </div>
                            <p class="fs-20"><a href="#">炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T 恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3 款單品，讓你瞬間帥氣爆棚散發型男品味⋯⋯</a></p>
                        </div>
                        <div class="story-botton text-align-right secondary fs-36">
                            <p><a href="#">MORE</a></p>
                        </div>
                    </div>
                </div>
                <div class="story-card d-flex">
                    <div class="story-pic">
                        <img src="../assets/images/blog-3.png" alt="春季新品上市">
                    </div>
                    <div class="story-txt d-flex flex-direction-column justify-content-space-between">
                        <div class="story-top">
                            <h2 class="secondary fs-32"><a href="#">春季新品上市</a></h2>
                            <div class="date d-flex justify-content-space-between">
                                <p class="fs-20"><a href="#">New Selection</a></p>
                                <p><a href="#">2020/02/02</a></p>
                            </div>
                            <p class="fs-20"><a href="#">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</a></p>
                        </div>
                        <div class="story-botton text-align-right secondary fs-36">
                            <p><a href="#">MORE</a></p>
                        </div>
                    </div>
                </div>
                <div class="story-card d-flex">
                    <div class="story-pic">
                        <img src="../assets/images/blog-4.png" alt="設計師獨享鏡框優惠">
                    </div>
                    <div class="story-txt d-flex flex-direction-column justify-content-space-between">
                        <div class="story-top">
                            <h2 class="secondary fs-32"><a href="#">設計師獨享鏡框優惠</a></h2>
                            <div class="date d-flex justify-content-space-between">
                                <p class="fs-20"><a href="#">New Selection</a></p>
                                <p><a href="#">2020/02/02</a></p>
                            </div>
                            <p class="fs-20"><a href="#">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</a></p>
                        </div>
                        <div class="story-botton text-align-right secondary fs-36">
                            <p><a href="#">MORE</a></p>
                        </div>
                    </div>
                </div>
                <div class="story-card d-flex">
                    <div class="story-pic">
                        <img src="../assets/images/blog-5.png" alt="抵抗夏日大作戰">
                    </div>
                    <div class="story-txt d-flex flex-direction-column justify-content-space-between">
                        <div class="story-top">
                            <h2 class="secondary fs-32"><a href="#">抵抗夏日大作戰</a></h2>
                            <div class="date d-flex justify-content-space-between">
                                <p class="fs-20"><a href="#">Summer Special</a></p>
                                <p><a href="#">2019/08/07</a></p>
                            </div>
                            <p class="fs-20"><a href="#">2020 年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</a></p>
                        </div>
                        <div class="story-botton text-align-right secondary fs-36">
                            <p><a href="#">MORE</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="blog-pg d-flex justify-content-center">
                <a href="#"><li tabindex="1">上一頁</li></a>
                <a href="#"><li tabindex="1">1</li></a>
                <a href="#"><li tabindex="1">2</li></a>
                <a href="#"><li tabindex="1">3</li></a>
                <a href="#"><li tabindex="1">4</li></a>
                <a href="#"><li tabindex="1">5</li></a>
                <a href="#"><li tabindex="1">下一頁</li></a>
            </ul>

        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>