<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/google-font'); -%>
    <title>眼鏡官網</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="branch">
        <div class="container">
            <h1 class="fs-48">門市據點</h1>
            <div class="location d-flex">
                <p class="fs-24">選擇地區</p>
                <div class="box">
                    <select>
                        <option>台北市</option>
                        <option>台中市</option>
                        <option>高雄市</option>
                    </select>
                </div>
                
            </div>
            <div class="card d-flex flex-wrap justify-content-space-between align-content-space-between">
                    <ul class="branch-card">
                        <li><img src="../assets/images/store-1.png" alt="台北中山旗艦店"></li>
                        <h2 class="fs-24">台北中山旗艦店</h2>
                        <ul class="fs-20">
                            <li><span class="material-symbols-outlined">call</span><a href="tel:+886-2-00012634">電話：(02)000-1234</a></li>
                            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
                            <li class="d-flex"><span class="material-symbols-outlined">location_on</span><p>地址：台北市中山區南京東路25巷2-1號</p></li>
                        </ul>
                        <li class="white bg-black d-flex justify-content-center align-items-center"><a href="./branch-tpa.html"><p class="fs-19">詳細資訊</p></a></li>
                    </ul>
                    <ul class="branch-card">
                        <li><img src="../assets/images/store-2.png" alt="台北綠園店"></li>
                        <h2 class="fs-24">台北綠園店</h2>
                        <ul class="fs-20">
                            <li><span class="material-symbols-outlined">call</span><a href="tel:+886-2-0002345">電話：(02)000-2345</a></li>
                            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
                            <li class="d-flex"><span class="material-symbols-outlined">location_on</span><p>地址：台北市中正區復興南路 132-1 號</p></li>
                        </ul>
                        <li class="white bg-black d-flex justify-content-center align-items-center"><a href="#"><p class="fs-19">詳細資訊</p></a></li>
                    </ul>
                    <ul class="branch-card">
                        <li><img src="../assets/images/store-3.png" alt="台中清水旗艦店"></li>
                        <h2 class="fs-24">台中清水旗艦店</h2>
                        <ul class="fs-20">
                            <li><span class="material-symbols-outlined">call</span><a href="tel:+886-2-00012634">電話：(02)000-1234</a></li>
                            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
                            <li class="d-flex"><span class="material-symbols-outlined">location_on</span><p>地址：台中市清水區經南一路 23 號 8 樓</p></li>
                        </ul>
                        <li class="white bg-black d-flex justify-content-center align-items-center"><a href="#"><p class="fs-19">詳細資訊</p></a></li>
                    </ul>
                    <ul class="branch-card">
                        <li><img src="../assets/images/store-4.png" alt="高雄中正形象店"></li>
                        <h2 class="fs-24">高雄中正形象店</h2>
                        <ul class="fs-20">
                            <li><span class="material-symbols-outlined">call</span><a href="tel:+886-7-00012345">電話：(07)000-2345</a></li>
                            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
                            <li class="d-flex"><span class="material-symbols-outlined">location_on</span><p>地址：高雄市苓雅區中正路 38 號 12 樓</p></li>
                        </ul>
                        <li class="white bg-black d-flex justify-content-center align-items-center"><a href="#"><p class="fs-19">詳細資訊</p></a></li>
                    </ul>
                    <ul class="branch-card">
                        <li><img src="../assets/images/store-5.png" alt=""></li>
                        <h2 class="fs-24">高雄夢時代店</h2>
                        <ul class="fs-20">
                            <li><span class="material-symbols-outlined">call</span><a href="tel:+886-7-00012634">電話：(07)000-1234</a></li>
                            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
                            <li class="d-flex"><span class="material-symbols-outlined">location_on</span><p>地址：台北市中山區南京東路25巷2-1號</p></li>
                        </ul>
                        <li class="white bg-black d-flex justify-content-center align-items-center"><a href="#"><p class="fs-19">詳細資訊</p></a></li>
                    </ul>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>