<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/google-font'); -%>
    <title>眼鏡官網</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="blog-nav bg-secondary">
        <div class="container d-flex align-items-center justify-content-space-between">
            <ul class="d-flex white fs-20">
                <li><a href="#">最新消息</a></li>
                <li><a href="#">特別企劃</a></li>
                <li><a href="#">新品上市</a></li>
                <li><a href="#">鏡框小知識</a></li>
            </ul>
            <a href="#"><span class="white material-symbols-outlined">search</span></a>
        </div>

    </div>
    <div class="special">
        <div class="container d-flex">
            <div class="left-content">
                <div class="breadcrumb">
                    <ul class="d-flex fs-16">
                        <li><a href="./index.html">首頁</a></li>
                        <li><a href="./blog.html">部落格</a></li>
                        <li><a href="#">特別企劃</a></li>
                        <li ><span>情人特別企劃</span></li>
                    </ul>
                </div>
                <h3 class="primary fs-24"><span>#special</span><span>#event</span></h3>
                <h1 class="fs-48">情人特別企劃</h1>
                <h2 class="fs-24">2020 Valentine’s Special</h2>
                <div class="special-card">
                    <img src="../assets/images/blogpage-1.png" alt="情人特別企劃">
                    <div class="specail-txt ">
                        <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。</br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                </div>
                <div class="special-card">
                    <img src="../assets/images/blogpage-2.png" alt="情人特別企劃">
                    <div class="specail-txt ">
                        <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。</br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                </div>
                <div class="special-card">
                    <img src="../assets/images/blogpage-3.png" alt="情人特別企劃">
                    <div class="specail-txt ">
                        <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。</br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                </div>
                <div class="special-card">
                    <img src="../assets/images/blogpage-4.png" alt="情人特別企劃">
                    <div class="specail-txt ">
                        <p>2/14(五)-2/20(日)</br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個</br>期間優惠還有~~持他牌鏡框更換鏡片</br>薄型非球面鏡片折300元</br>濾藍光鏡片折500元</br>快快帶上另一半</br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
                    </div>
                </div>
                <div class="share">
                    <ul class="d-flex align-items-center">
                        <li class="bold"><a href="#">share</a></li>
                        <li><a href="#"><img src="../assets/images/logo-facebook.png" alt="facebook"></a></li>
                        <li><a href="#"><img src="../assets/images/logo-instagram.png" alt="instagram"></a></li>
                    </ul>
                </div>
                <div class="link-page">
                    <ul class="d-flex  justify-content-space-between">
                        <a href="#"><li class="d-flex align-items-center"><span class="material-symbols-outlined">arrow_back</span>上一篇：街頭潮人訪問 1</li></a>
                        <a href="#"><li class="d-flex align-items-center">下一篇：街頭潮人訪問 2<span class="material-symbols-outlined">arrow_forward</span></li></a>
                    </ul>
                </div>
            </div>
            <div class="right-tags">
                <h2 class="fs-32 d-flex align-items-center primary bold"><span class="material-symbols-outlined">label</span>TAGS</h2>
                <ul class="d-flex flex-wrap primary bold">
                    <li class="fs-24">#special</li>
                    <li class="fs-24">#sale</li>
                    <li class="fs-24">#new_item</li>
                    <li class="fs-24">#interview</li>
                    <li class="fs-24">#trivia</li>
                    <li class="fs-24">#news</li>
                    <li class="fs-24">#event</li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>