<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/google-font'); -%>
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="st-nav">
      <div class="container ">
          <ul class="d-flex fs-32 text-align-center">
              <a href="../pages/style-op.html">
                  <li tabindex="1">OPTICAL</li>
              </a>
              <a href="../pages/style-sg.html">
                  <li class="border-bottom" tabindex="1">SUNGLASSES</li>
              </a>
              <a href="#">
                  <li tabindex="1">FUNCTIONAL</li>
              </a>
          </ul>
      </div>
    </div>
    <div class="st-cover d-flex">
      <div class="sg-pic">
          
      </div>
      <div class="sg-pic">
        
      </div>
    </div>
    <div class="st-content">
      <div class="container">
        <div class="st-title text-align-center ">
          <h1 class="fs-42">2020 NEW COLLECTION</h1>
          <h2 class="fs-32">賽璐珞鈦金屬混合鏡框</h2>
        </div>
        <div class="st-pic">
          <div class="st-card-col-3 d-flex flex-wrap justify-content-space-between align-content-space-between">
            <ul>
              <li class="text-align-center"><img src="../assets/images/product-7.png" alt="product"></li>
              <li class="d-flex justify-content-space-between">
                <p class="fs-24">BJ41600S</p>
                <p class="primary fs-24">NTD3,490</p>
              </li>
              <li class="d-flex">
                <div class="st-color bg-brown"></div>
                <div class="st-color bg-maroon"></div>
              </li>
            </ul>
            <ul>
              <li class="text-align-center"><img src="../assets/images/product-8.png" alt="product"></li>
              <li class="d-flex justify-content-space-between">
                <p class="fs-24">BJ41600S</p>
                <p class="primary fs-24">NTD3,490</p>
              </li>
              <li class="d-flex">
                <div class="st-color bg-brown"></div>
                <div class="st-color bg-maroon"></div>
              </li>
            </ul>
            <ul>
              <li class="text-align-center"><img src="../assets/images/product-12.png" alt=""></li>
              <li class="d-flex justify-content-space-between">
                <p class="fs-24">BJ41600S</p>
                <p class="primary fs-24">NTD3,490</p>
              </li>
              <li class="d-flex">
                <div class="st-color bg-brown"></div>
                <div class="st-color bg-maroon"></div>
              </li>
            </ul>
            <ul>
              <li class="text-align-center"><img src="../assets/images/product-9.png" alt=""></li>
              <li class="d-flex justify-content-space-between">
                <p class="fs-24">BJ41600S</p>
                <p class="primary fs-24">NTD3,490</p>
              </li>
              <li class="d-flex">
                <div class="st-color bg-brown"></div>
                <div class="st-color bg-maroon"></div>
              </li>
            </ul>
            <ul>
              <li class="text-align-center"><img src="../assets/images/product-11.png" alt="product"></li>
              <li class="d-flex justify-content-space-between">
                <p class="fs-24">BJ41600S</p>
                <p class="primary fs-24">NTD3,490</p>
              </li>
              <li class="d-flex">
                <div class="st-color bg-brown"></div>
                <div class="st-color bg-maroon"></div>
              </li>
            </ul>
            <ul>
              <li class="text-align-center"><img src="../assets/images/product-12.png" alt="product"></li>
              <li class="d-flex justify-content-space-between">
                <p class="fs-24">BJ41600S</p>
                <p class="primary fs-24">NTD3,490</p>
              </li>
              <li class="d-flex">
                <div class="st-color bg-brown"></div>
                <div class="st-color bg-maroon"></div>
              </li>
            </ul>
          </div>
          <ul class="pg d-flex justify-content-center">
            <a href="#"><li tabindex="1">上一頁</li></a>
            <a href="#"><li tabindex="1">1</li></a>
            <a href="#"><li tabindex="1">2</li></a>
            <a href="#"><li tabindex="1">3</li></a>
            <a href="#"><li tabindex="1">4</li></a>
            <a href="#"><li tabindex="1">5</li></a>
            <a href="#"><li tabindex="1">下一頁</li></a>
          </ul>
        </div>
      </div>
    </div>
    


    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
